[mysqld]
# Basic Settings
bind-address = 0.0.0.0

# SSL Configuration
# Note: We mount to /etc/mysql/certs to avoid the "initialization" error
ssl-ca=/etc/mysql/certs/ca.pem
ssl-cert=/etc/mysql/certs/server-cert.pem
ssl-key=/etc/mysql/certs/server-key.pem

# Binary Logging (CDC)
log_bin=ON
binlog_format=ROW
binlog_row_image=FULL
binlog_row_metadata=FULL
server-id=1